nav, .BodyContent, .subnav .navFooter {
  
  white-space: nowrap;
}

.subnav {
  
  margin: 0;
  padding: 0%;
}

body {
  /*background-color: rgb(170, 166, 166);*/
     background-color: white;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #idSpanMKT {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color: black;
    font: bolder;
}
  @media screen and (max-width: 600px) {
    body {
      font-size: 0.75em;
    }
    #idSpanMKT {
      font-size: x-large;
     }
  }

  .BodyAsideLeft, .BodyAsideRight {
    /*background-color: rgb(170, 166, 166);*/
    width: 20%;
    background-color: rgb(91, 193, 237);
    overflow: hidden;
    display: inline-block;
  }
  .BodyMiddle {
    /*background-color: rgb(170, 166, 166);*/
    width: 60%;
    display: inline-block;
  }
  
.navFooter {
  /*background-color: rgb(170, 166, 166);*/
  background-color: rgb(88, 88, 89);
  position: fixed;
  bottom: 0%;
  width: 100%;
  color: white;
  overflow: hidden;

}

.logo {
  background-image: url("/HandshakeImg.gif");
  background-size:100% 100%;
  /*float: left;*/
  background-repeat: no-repeat;
  box-sizing: border-box;
  width: 10%;
  height: 10%;
  text-align: center;
  display: inline-block;
  font-family: Matura MT Script Capitals;
  /*font-size:0.75em;*/
  white-space: normal;
}

.banner {
  /*float: left;*/
  background-color: rgb(91, 193, 237);
  display: inline-block;
  box-sizing: border-box;
  width: 90% ;
  height: 10%;
  text-align: center;
  font-family: Matura MT Script Capitals;
  /*font-size: large;*/
  color: white;
  white-space: normal;
}

.banner p, .logo p {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}

/* The navigation menu */
.navbar {
    overflow: hidden;
    background-color: rgb(88, 88, 89);
    display: block;
    margin: 0;
    padding: 0;
    /*float: left;
    z-index: 1;*/
  }
  
  /* Navigation links */
   #LinkHome, #LinkContact {
    float: left;
   /* font-size: 0.75em;*/
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
  }

  #LinkSignIn, #LinkSignUp {
    float: right;
    /*font-size: 0.75em;*/
    color: rgb(91, 193, 237);
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
   /* background-color: black;*/
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }

  .subnavLanguage {
    float: right;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn, .subnavLanguage .subnavbtnLanguage {
    /*font-size: 0.75em;*/
    border: none;
    outline: none;
    color: white;
    padding: 5px 5px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    overflow: hidden;
  } 
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn, .subnavLanguage:hover .subnavbtnLanguage{
    background-color: rgba(255, 255, 255, 0.386);
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content, .subnav-contentLanguage {
    display: none;
    position: absolute;
    background-color: rgb(197, 221, 231);
    width: 20%;
    list-style: none;
    /*z-index: 1;*/
    text-align: left;
    overflow: hidden;
  }
  
  /* Style the subnav links */
  .subnav-content a, .subnav-contentLanguage a {
    float: left;
    color: grey;
    text-decoration: none;
  }
  
  .ClassCopyright, .ClassAboutUs, .ClassMyAccount, .ClassGetInTouch {
     display: inline-block;
     margin-right: 2%;
  } 

  .ClassCopyright ul, .ClassAboutUs ul, .ClassMyAccount ul, .ClassGetInTouch ul {
    color: rgb(91, 193, 237);
    margin-right: 10%;
 } 

  /* Add a grey background color on hover */
  .subnav-content, a:hover {
    background-color: #eee;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }

  .subnavLanguage:hover .subnav-contentLanguage {
    display: block;
    overflow: hidden;
  }


