
/* we do not want our containers and boxes within elements to wrap when they are beyond the size of the element due to white spaces */

nav, .subnav, .navFooter, header, body {
 
    white-space: nowrap;
}

/* styling the container of mai menu bar */
.subnav {
  
    margin: 0;
    padding: 0%;
}

/*  styling the body of all pages*/
body {
     background-color: white;
     font-family: monospace;
     margin: 0;
     font-size: 0;
}

/* Styling the container main with a font-size of 0 in order to align all the boxes within to fit 100% of the page */
main {
  
      font-size: 0;
      margin-bottom: 10%;
}

/* Styling the message of the Logo and the banner*/
#idSpanMKT, #idSpanLogo {
    font-family: calibri;
    font-size: xx-large;
    color: black;
    font-weight: bolder;
  }

/* This section is for responsive design. We are styling the pages according to the size of the viewport*/

/* very small screens */
@media screen and (max-width: 400px) {
        
  /* setting the default font size of the body of the page */
  body {
    font-size: 0.75em;
  }

  /* Styling the message of the Logo and the banner*/     
  #idSpanMKT, #idSpanLogo {
    font-size: large;
  }

  /* Styling all links of the footer and navigation bar*/ 
  .ClassGetInTouch ul, .ClassMyAccount ul, .ClassAboutUs ul, .ClassCopyright ul, .subnav-content, .subnav-contentLanguage { 
    font-size: 0.50em;
  }
  .subnav-content ul li, .subnav-contentLanguage ul li { 
    padding-bottom: 5% ;
  }
  /* Styling the texts on left and right of the main container and on all forms*/       
  .idAdvertLeft0 p, .idAdvertRight0 p, #idInputContact div , #idInputLogin  div, #idInputSignUp div {
    font-size: 1rem;
    font-weight: bolder;
  }
  
  /* Styling the texts of the links of the  advert images*/ 
  .idAdvertLeft1 p, .idAdvertLeft2 p, .idAdvertLeft3 p, .idAdvertRight1 p, .idAdvertRight2 p, .idAdvertRight3 p {
    font-size: 0.50rem;
    padding-top: 50%;
  }

  /* Styling the texts of the landing image*/ 
  #idLandingImg p {
    font-size: 1rem;
  }
  /* The advert images by the sides will not be displayed by the sides for a very small viewport */
  .BodyAsideLeft, .BodyAsideRight {
    display: none;
  }
  /* The advert images are displayed under the main content of the page */
  .BodyProductList {
    display: block;
  }
  /* styling the main conten of the page to be at 100% of the small viewport*/ 
  .BodyMiddle {
    width: 100%;
  }
}

  /* Mediem screens */
  /* The same comments of the small viewport above applies here also */

@media screen and (min-width: 401px)  and (max-width: 600px) {
     
  body {
        font-size: 0.75em;
  }

  #idSpanMKT, #idSpanLogo {
    font-size: 200%;
  }
  .ClassGetInTouch ul, .ClassMyAccount ul, .ClassAboutUs ul, .ClassCopyright ul, .subnav-content, .subnav-contentLanguage { 
    font-size: 0.90em;
  }

  .subnav-content ul li, .subnav-contentLanguage ul li { 
    padding-bottom: 5% ;
  }

  .idAdvertLeft0 p, .idAdvertRight0 p, #idInputContact div , #idInputLogin  div, #idInputSignUp div {
    font-size: 1rem;
  }

  .idAdvertLeft1 p, .idAdvertLeft2 p, .idAdvertLeft3 p, .idAdvertRight1 p, .idAdvertRight2 p, .idAdvertRight3 p {
    font-size: 0.60rem;
    padding-top: 40%;
  }

  #idLandingImg p {
    font-size: 1.4rem;
  }

  .BodyProductList {
    display: none;
  }

  .BodyAsideLeft, .BodyAsideRight {
    display: inline-block;
  }

  .BodyMiddle {
    width: 70%;
  }
}

/*  Large screens */
/* The same comments of the small viewport above applies here also */

@media screen and (min-width: 601px) {
  body {
    font-size: 1.1em;
  }
  
  #idSpanMKT, #idSpanLogo {
    font-size: 250%;
  }

  .ClassGetInTouch ul, .ClassMyAccount ul, .ClassAboutUs ul, .ClassCopyright ul, .subnav-content, .subnav-contentLanguage { 
      font-size: 0.90em;
  }

  .subnav-content ul li, .subnav-contentLanguage ul li { 
    padding-bottom: 5% ;
  }

  .idAdvertLeft0 p, .idAdvertRight0 p, #idInputContact div , #idInputLogin  div, #idInputSignUp div{
    font-size: 1rem;
  }

  .idAdvertLeft1 p, .idAdvertLeft2 p, .idAdvertLeft3 p, .idAdvertRight1 p, .idAdvertRight2 p, .idAdvertRight3 p {
    font-size: 0.60rem;
    padding-top: 40%;
  }

  #idLandingImg p {
    font-size: 2.5rem;
  }

  .BodyProductList {
    display: none;
  }

  .BodyAsideLeft, .BodyAsideRight {
    display: inline-block;
  }

  .BodyMiddle {
    width: 70%;
  }
}

/* styling the container of the logo*/
#idSpanLogo {
  float: left;
  margin-left: 2%;
  margin-top: 0%;
  padding: 1%;
  background-color: #af7004;
  color: white;
  border-radius: 40% 40% 40% 40% ;
  vertical-align: middle;
}

/* Styling the containers of the advert images */
.BodyAsideLeft, .BodyAsideRight {
  width: 15%;
  overflow: hidden;
  vertical-align: top;
}

/* Styling the containers of the main content of the pages */
.BodyMiddle {
  display: inline-block;
  vertical-align: top;
}

/* Styling the footer menu of the pages to be at a fixed position*/
.navFooter {
  background-color: rgb(88, 88, 89);
  position: fixed;
  bottom: 0%;
  width: 100%;
  color: white;
  overflow: hidden;

}

/* Styling the boxes of Getintouch menu of the footer menu*/
#IdListGetInTouch1, #IdListGetInTouch2 {
  display: inline-block;
  vertical-align: top;
}

/* Styling the container of the landing page image and the construction image page*/
#idLandingImg {
  background-image: url("../images/farmer.jpg");
}

#idLandingImgCons {
  background-image: url("../images/construction.jpg");
}

#idLandingImg, #idLandingImgCons {
  background-size:100% 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  padding-bottom: 15%
}

/* Styling the paragraph box within the container of the landing page image and the construction image page*/
#idLandingImg p, #idLandingImgCons p {
  color: rgb(220, 147, 29);
  float: left;
  margin-left: 5%;
  vertical-align: top;
  font-weight: bolder;
  width: 25%;
  white-space: normal;
  margin-top: 2%;
  margin-bottom: 20%;
}
/* Styling the container of the banner */ 
.banner {
  background-color: #5faf04;
  background-size: 100% 100%;
  display: block;
  box-sizing: border-box;
  width: 100% ;
  text-align: center;
  font-family: Matura MT Script Capitals;
  /*font-size: large;*/
  color: white;
  white-space: normal;
}
/* Styling  the box paragraph within the container of the banner */ 
.banner p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  width: 100%;
}

/* Styling the main navigation menu container and some boxes of links within */
.navbar {
  overflow: hidden;
  background-color:  rgb(88, 88, 89);
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}
  
#LinkHome, #LinkContact {
  float: left;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

#LinkSignIn, #LinkSignUp {
  float: right;
  color: rgb(91, 193, 237);
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}
  
.subnav {
  float: left;
  overflow: hidden;
}

.subnavLanguage {
  float: right;
  overflow: hidden;
}
  
.subnav .subnavbtn, .subnavLanguage .subnavbtnLanguage {
  border: none;
  outline: none;
  color: white;
  padding: 5px 5px;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
} 
   
/* Styling the sub menu navigation containers to the absolute position and hidden*/
.subnav-content, .subnav-contentLanguage {
  display: none;
  position: absolute;
  background-color: rgb(238, 238, 238);
  width: 10%;
  list-style: none;
  text-align: left;
  overflow: hidden;
  white-space: normal;
}
  
.subnav-content a, .subnav-contentLanguage a {
  float: left;
  color: black;
  text-decoration: none;
}

.subnav-content ul, .subnav-contentLanguage ul {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 5%;
}
  
/* making the sub menus to be visible when hoving the mouse on the sub menu parent container */
.subnav:hover .subnav-content, .subnavLanguage:hover .subnav-contentLanguage {
  display: block;
  overflow: hidden;
}

/* Styling the sub-menu, and links containers on hoving with mouse */
.subnav:hover , .subnavLanguage:hover,  #LinkHome:hover, #LinkContact:hover, #LinkSignIn:hover, #LinkSignUp:hover {
  background-color: rgba(129, 129, 129, 0.903);
}
  .subnav-content a:hover, .subnav-contentLanguage a:hover  {
  background-color: #e7e45ee7;
    
}

/*  styling the containers, their paragraphs and their links within the footer*/
.ClassCopyright, .ClassAboutUs, .ClassMyAccount, .ClassGetInTouch {
  display: inline-block;
  vertical-align: top; 
  margin-right: 0.5%;
  margin-left: 1%;
} 

.ClassCopyright p, .ClassAboutUs p, .ClassMyAccount p, .ClassGetInTouch p {
  margin-top: 5%;
  margin-bottom: 0.5%;
} 

.ClassCopyright ul a, .ClassAboutUs ul a, .ClassMyAccount ul a, .ClassGetInTouch ul a {
  color: rgb(91, 193, 237);
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
} 

/* Styling the Forms containers and their paragraphs*/
 #idformLogin p,  #idformSignUp p, #idformContact p {
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}

#idInputLogin, #idInputSignUp, #idInputContact {
  background-color: rgb(208, 205, 205);
  text-align: center;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 10% 10% 10% 10% ;
  white-space: normal;
}

#idInputLogin div, #idInputSignUp div, #idInputContact div {
  display: block;
  padding: 1%;
}

/* Stylng the containers of the advert images and the paragraph boxes within */
.idAdvertLeft0, .idAdvertLeft1, .idAdvertLeft2, .idAdvertLeft3, .idAdvertRight0, .idAdvertRight1, .idAdvertRight2, .idAdvertRight3 {
  display: block;
  white-space: normal;
  background-repeat: no-repeat;
  background-size:100% 100%;
}

.idAdvertLeft0, .idAdvertRight0 {
  background-color:  rgba(203, 203, 203, 0.699) ;
  vertical-align: top;
}

.idAdvertLeft0 p, .idAdvertRight0 p {
 color: rgb(0, 0, 0) ;
 margin-top: 0%;
 padding-top: 20%;
 padding-bottom: 20%;
 text-align: center;
}

.idAdvertLeft1 p, .idAdvertLeft2 p, .idAdvertLeft3 p, .idAdvertRight1 p, .idAdvertRight2 p, .idAdvertRight3 p {
  text-align: right;
  vertical-align: bottom;
  font-weight: bolder;
  
}

/* adding animation frames to the advert images*/
@keyframes adVertLeft1 {
    from {
      background-image: url("../images/tomato.jpg");
    }
     to {
      background-image: url("../images/potato.jpg");
    }
}

.idAdvertLeft1 {
  background-image: url("../images/tomato.jpg");
  background-size: 85% 100%;
  margin-bottom: 0%;
  animation-name: adVertLeft1;
  animation-duration: 5s;
  animation-delay: 6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes adVertLeft2 {
  from {
    background-image: url("../images/carot.jpg");
  }
   to {
    background-image: url("../images/macabo.jpg");
  }
}

.idAdvertLeft2 {
  background-image: url("../images/carot.jpg");
  background-size: 85% 100%;
  animation-name: adVertLeft2;
  animation-duration: 7s;
  animation-delay: 6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes adVertLeft3 {
  from {
    background-image: url("../images/plantain.jpg");
  }
   to {
    background-image: url("../images/cocoa.jpg");
  }
}

.idAdvertLeft3 {
  background-image: url("../images/plantain.jpg");
  background-size: 85% 100%;
  animation-name: adVertLeft3;
  animation-duration: 6s;
  animation-delay: 6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes adVertRight1 {
  from {
    background-image: url("../images/manioc.jpg");
  }
   to {
    background-image: url("../images/palmnuts.jpg");
  }
}

.idAdvertRight1 {
  background-image: url("../images/manioc.jpg");
  background-size: 85% 100%;
  margin-top: 5%;
  animation-name: adVertRight1;
  animation-duration: 3s;
  animation-delay: 7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes adVertRight2 {
  from {
    background-image: url("../images/peanuts.jpg");
  }
   to {
    background-image: url("../images/beans.jpg");
  }
}

.idAdvertRight2 {
  background-image: url("../images/peanuts.jpg");
  background-size: 85% 100%;
  animation-name: adVertRight2;
  animation-duration: 4s;
  animation-delay: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes adVertRight3 {
  from {
    background-image: url("../images/pepper.jpg");
  }
   to {
    background-image: url("../images/coffee.jpg");
  }
}
.idAdvertRight3 {
  background-image: url("../images/pepper.jpg");
  background-size: 85% 100%;
  animation-name: adVertRight3;
  animation-duration: 3s;
  animation-delay: 6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;

}

.psw {
  margin-left: 10%;
  margin-bottom: 10%;
}



